body {
  background-color: hsl(0, 0%, 10%);
}

.to-do-list {
  font-family: "Alumni Sans", sans-serif;
  text-align: center;
  margin-top: 100px;
  font-weight: bold;
}

h1 {
  font-size: 4rem;
  color: white;
}

button {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button {
  background:linear-gradient(90deg, #3cea39, #a0ef8e) ;
}

.add-button:hover {
  background:linear-gradient(90deg, #537d48, #abf4a5) ;
}

.delete-button {
  background:linear-gradient(90deg, #8C3061, #D95F59) ;
}

.delete-button:hover {
  background:linear-gradient(90deg, #44182f, #934b47) ;
}

.move-button {
  background:linear-gradient(90deg, #758694, #F7E7DC) ;
}

.move-button:hover {
  background:linear-gradient(90deg, #4a545d, #c1b6af) ;
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
}

ol {
  padding: 0;
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 95%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

.delete-button, .move-button {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}